@layer reset, base, layout, components, utilities, states;







@layer reset {

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
     *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    
}
/* TO DO  */



@layer base{
    :root
    {
        /* color vars */
        --foundation:#102317;
        --primary_color:#102F27;
        --secondary_color:#4D674D;
        --highlight:#D0F2DC;
        --color_pop:#8A5F18;
        --drk: #010604;
        --details:#333333;
        --light:#ffffff;
        --alert:#9d0a14;
        --reduce_light:#c0c0c0;
        --reduce_secondary:#6b836b;
        --reduce_secondarytwo:#506250;
        --reduce_secondarythree:#343f34;

        /* spacing vars */

        --between: 2em;
        --cushion:clamp(.5rem,2vw,1.6rem);
        /* I think this is dynamic spacing because it's based on the characters that are dynamically sized */
        /* changed cushion to halve it as test */
        --small_cush: clamp(.3rem, 0.5cqw, .6rem);
        /* --three_card_size: clamp(200px, 100%,40em); */

        /* shape var */

        --rounding: 9px;

        /* TEXT-VARS */

        --body_font: 'alice',"Book Antiqua", Baskerville, Palatino, Georgia , serif,  system-ui ;
       
        --header_font: 'sacramento',"Book Antiqua", serif, system-ui;

        /* These aren't that similar to chosen font but there's very little supported scripts, and docs said cursive isn't great alternative (I tried it out of curiosity and it gives me comic sans*/
        --large-header: clamp(2.5rem,7cqw, 4rem);
        --medium-header: clamp(2rem, 6cqw, 3.13rem);
        
        --small-header: clamp(1.75rem, 5cqw, 2.5rem); 
        --body-size:clamp(1rem, 1.5cqw ,1.25rem);
        --footer-size: clamp(.75rem, 1cqw, 1.25rem);

      /* For line height */
        --body_spc:2;
        --headght:1;
        --shrink: 1.3;
        --ft_spc: 1;

    
    }
    
    body{
        background-color:var(--foundation);
        block-size:100vh;
        inline-size:100%;
        display: grid;
        grid-template-columns: 1fr;
        gap:var(--between);
        justify-items: center;
        color:var(--light);
        color:var(--white);
        font-family:var(--body_font);
        font-size: var(--body-size);
        line-height: var(--body_spc);
        
        

    }

    img{
        display:block;
        max-inline-size:100%;
        min-inline-size: 0;
        inline-size: auto;
        object-fit: contain;
        border-radius:var(--rounding);
        align-self: center;
        align-self: center;
        justify-self: center;
    }


    a, footer p{
        font-style: italic;  
        color: inherit;
    }

    h1,h2,h3{
        text-align: center;
        font-family: var(--header_font);
        padding-bottom:var(--small_cush);
        line-height: var(--headght);
        color:inherit;
       
    }
    main > h2{
        color:var(--highlight);
    }

    h1,h2{
        font-size:var(--large-header);
    }

    
    h3{
        font-size:var(--medium-header);
    }
    h4{
        font-family: var(--header_font);
        font-size: var(--small-header);
    }
    

}

@layer layout{
    header, main, footer{
        padding:var(--cushion);
        background:var(--primary_color);
    }

     footer, header{
        color:var(--highlight);
        inline-size:100%;
        /* max-inline-size: 100%; */
    }

    
    
    .flex_box{
        display:flex;
        flex-direction: row;
        gap:var(--between);
        flex-wrap: wrap;
        justify-content: end;
    } 
    /* /* Formats a little differently than two class which is why it's specified here. */
    .grid-one{
        display: grid;
        gap: var(--between);
        grid-template-columns: repeat(1,minmax(0,1fr));
     }
     .one-card,.two-card,.three-card,.resume_card{
        margin-block: var(--between);
     }
      header{
        position:relative;
        display:grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap:var(--between);
        justify-content: space-between;
        align-items: center;
      
    }

    
     @supports(container-type: inline-size){
        main{
            container-type: inline-size;
        }
        
        /* everything up until this point functions pretty well on small screens naturally, so I decided to 
        leave restructuring for bigger screens and  */
        @container (inline-size > 50em){



            .with-aside{
                display:grid;
                grid-template-columns: 4fr 1fr;
                gap:var(--between);

                place-self: center; } 
        
            
            /* changed grids back to being their own classes */
          
            .grid-two{
                display:grid;
                /* Ensures grid is 100% of it's parent width (section) which is 100% of main which is 90% of body or browser view */
                inline-size:auto;
                /* Changed from auto-fill because I mixed up which one collapses column track */
                grid-template-columns: repeat(2, minmax(0, 1fr)); 
                

                /* Justifies grid-items in their track */
                justify-content: space-between; 
                place-self: center;
                max-block-size: 100%;
                gap:var(--between);
                padding:var(--cushion);
            }

            
        
            
            
            .grid-three{
                display:grid;
                /* Ensures grid is 100% of it's parent width (section) which is 100% of main which is 90% of body or browser view  */
                inline-size:100%;
                margin-inline: auto;
                /* Changed from auto-fill because I mixed up which one collapses column track */
                grid-template-columns: repeat(auto-fit,minmax(min(25em,100%), 1fr));
                /* Justifies grid-items in their track */
                justify-items: center;
                justify-content: center;
                gap:var(--between);
                max-block-size: 100%;
                padding:var(--cushion); }

           
            
             .one-card,.two-card,.three-card,.resume_card{
                    margin-block: 0;
                }

            
        }
     }

   
    

   
    

    main {
        inline-size:90%;
        
        margin:auto;
        container-type: inline-size;

    }
     
        
    
    footer {
        
        display: grid;
        justify-content: center;
        align-content: center;
        line-height: var(--ft_spc);
        font-size: var(--footer-size);
    }
    

     
}



@layer components{
    
    
    section, .three-card,.one-card,.resume_card{
        border-radius: var(--rounding);
    }
    section,.two-card,.resume_card{
        padding:var(--cushion);
    }

    .one-card,.two-card,.three-card,.resume_card{
        background: var(--highlight);
       color: var(--drk);

    }   

    input, textarea, label,nav li{
        border-radius: var(--rounding);
    }
    
    input, textarea {
        padding:var(--cushion);
    }

    .two-card,.three-card,.col_one,.col_two{
        display: grid;
        grid-template-rows: subgrid;
    }


    
    .col_one, .col_two{
        gap:var(--between);
        justify-content: center;
        grid-row: span 3;

    }
    section{
        border: 3px solid var(--color_pop);
        background-color: var(--secondary_color);
        color:var(--light);
       
    }


    .three-card{
        /* Changed width variables to fit into container */
       padding: var(--cushion);
       /* changed cards into subgrid to respect alignment with sibling cards */
       inline-size: 100%;
       place-self: center;
       grid-row: span 3;
       gap:var(--between);
       
    }
    


    .two-card{
        /* made this class because home cards need to fill available width
        and span 2 columns/
       /* changed cards into subgrid to respect alignment with sibling cards */
        gap:1em;
        /* display:grid;
        grid-template-rows: subgrid; */
        /* breaking space convention here because the first card is a bit bare without it */
        grid-row:span 2;
        min-inline-size: 0;
        max-inline-size: 100%;
        inline-size: auto;
    }

    /* I wanted the heading to be aligned center when viewport shrunk and paragraph to be aligned start */
    .two-card >  :first-child{
        align-self: center;
    }
   

    
    .card-shell{
        container-type: inline-size;
        container-name:card_dependency;
    } 

    .contact-card picture , .contact-card img{ 
         inline-size: 300px;
        border-radius: 50%;
    }
    

    
    nav li{
        padding:var(--small_cush);
        outline: 3px solid var(--secondary_color);
        display: inline;
    }
    nav a{
        color:var(--light);
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        background-color: var(--secondary_color);
        padding:10px;
        border-radius: var(--rounding);
    }
   
    
    
    form{
        display:grid;
        gap:var(--between);
        justify-content: center;
    }
    input,textarea, label{
        inline-size: 100%;
        border:none;
        font-size:1.5rem;
        
    }

    .eyebrow{
        font-style: italic;
        color:var(--details);
    }
    
    input[type="submit"]{
        font-size: 1.25rem;
        font-weight: bold;
        font-family: inherit;
    }
    input,textarea{
        font-size: 1rem;
        font-weight: normal;
    }
  
    label{
        line-height: 3;
    }
    .errors{
        color:var(--alert);
        background-color: var(--highlight);
        border-radius: var(--rounding);
        padding: var(--small_cush) var(--cushion);
        
    }
    .errors ul{
        list-style-type: disc;
        font-size: 1.25rem;
        background-color: var(--highlight);
        color:var(--alert);
        padding: var(--small_cush);
        line-height: 1.5;
    }
    
    @supports(container-type: inline-size){
        @container card_dependency (inline-size > 20em){
            .contact-card{
                display:grid;
                grid-template-columns: repeat(auto-fit, minmax(15em,25em));
                inline-size:100%;
                place-self: center;
                /* gap:var(--between); */
                align-items: center;
                justify-items: center;
                justify-content: center;

            } 
        }

    }
    
    
    
  }


@layer utilities{
    .hero{
        grid-column: 1/-1;
        color:var(--light);
    }
    .text-center{
        text-align: center;
    }
    .shrink-ln{
        line-height: var(--shrink);
    }
    .hidden{
        display:none;
    }
    
    
}


    
@layer states{
    /* hover */
    
    .button:hover{
        background-color: var(--color_pop);
        color:var(--light);
        font-family: inherit;
    }
    
    img:hover{
        transform: scale(1.5,1.5);
    }
     
    /* focus */
    
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible{
    outline: 5px solid var(--color_pop);
    }
    
    /* active and link focus */
    a[aria-current="page"],a:active,a:focus-visible {
        padding:10px ;
        border-radius: var(--rounding) ;
        background-color: var(--primary_color);    
        outline: none;
        border:none;
    }

 
   
}

   
@media (prefers-color-scheme: light){
    body{
        background-color: var(--highlight);
    }
    header,main,footer{
    background: var(--secondary_color);
}
   
    main,section,nav li{
        border: 3px solid var(--foundation);
        border-radius: var(--rounding);
        box-shadow: 0px 0px 15px 5px var(--primary_color);
    }
}

@media(prefers-contrast: more){
    section,.two-card,.three-card,input[type="submit"], a,footer, header{
        background-color: var(--foundation);
        border:solid 3px yellow;
        color:yellow
    }
    

    label,body,section,form,h1,h2,h3,h4,form, input[type="submit"],.two-card,.three-card,div{
        color:yellow;
        background-color: var(--foundation);
    }
   
    
    input::placeholder,textarea::placeholder{
        color:var(--details);
        font:arial;
    }
    nav li{
        border: solid 3px yellow;
    }
    a[aria-current="page"],a:active,a:focus-visible {
        background-color: red;
    }
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible{
    outline: 5px solid red;
    }
    
    

}

@media(prefers-contrast: less){
    body,section,header,footer, nav a{color:var(--drk);
    }
    body{
        background-color: var(--reduce_secondary);
    }
    main,header, footer{
        background-color: var(--reduce_secondarytwo);
    }           
   
    section,.two-card{
        background-color: var(--reduce_secondary);
    }
    
    section,nav li{
        border: 5px solid var(--reduce_secondarythree);
    }
    nav a[aria-current="page"],input,textarea{
        background-color:var(--reduce_light);
    }
    nav a {
        background-color: var(--reduce_secondarytwo);
    }
    nav a:focus{
        border:var(--reduce_light) 5px solid;
        background-color: var(--reduce_light);
    }
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible  {
    outline: 5px solid var(--details);
    }
    

}


@media print{
    header,footer,nav{
        display:none;
    }
}
